#field {
  border-collapse: collapse;
}
#field tr td {
  border: solid 1px #333;
  width: 25px;
  height: 25px;
  text-align: center;
}
#field tr td span {
  padding: 5px;
}
.hidden {
  display: none;
}

.editable span {
  color: #333;
}
.editable input {
  width: 24px;
  height: 18px;
}
.editable:hover {
  cursor: pointer;
}

.fixed {
  background-color: #bebebe;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
}
.fixed span{
  font-weight: bold;
  width: 24px;
  height: 18px;
}

.container {
  margin: 0 auto;
  width: 275px;
}
.left {
  float: left;
}
.right {
  float: right;
  right: 100;
}
.absolute {
  position: absolute;
}

#records {
  width: 300px;
}
#records tr {
  border-bottom: 1px solid #333;
}

h1 {
  text-align: center;
}
